<h1>Projects</h1>
<%  if current_user.manager? %>
  <%= link_to 'Add New Project ', new_project_path %>
<% end %>
<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project_path(project) %></li>
  <% end %>
</ul>
